<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/模板1.css" rel="stylesheet">
  <title>简历示例</title>
</head>
<body>
<div class="container">
    <!-- 左边信息 -->
    <div class="left-section">
        <div class="profile-pic">
            <img alt="找不到图片" src="../封面.jpg">
        </div>
        <h1>{{ name or "匿名" }}</h1>

        {% if job_intention %}
        <p class="job-title">{{job_intention}}</p>
        {% endif %}
        <h2>基本信息</h2>
        {% if personal_info.age %}
        <p>年龄：{{ personal_info.age }}</p>
        {% endif %}
        {% if personal_info.gender %}
        <p>性别：{{ personal_info.gender }}</p>
        {% endif %}
        {% if personal_info.ethnicity %}
        <p>民族：{{ personal_info.ethnicity }}</p>
        {% endif %}
        {% if personal_info.contact %}
        <p>电话：{{ personal_info.contact }}</p>
        {% endif %}
        {% if personal_info.e_mail %}
        <p>邮箱：{{personal_info.e_mail}}</p>
        {% endif %}

        {% if education %}
        <h2>教育背景</h2>
        {% for education in education %}
        <P>{{ education.degree }} —— {{ education.school }}({{ education.start_date}}) {{ education.end_date }}</P>
        <br>{{education.major}}</br>
        {% endfor %}
        {% endif %}

    </div>
    <div class="right-section">
        {% if skills %}
        <h2>职业技能</h2>
        {% for skill in skills %}
        <li class="li">{{ skill }}</li>
        {% endfor %}
        {% endif %}
        {% if certificates %}
        <h2>证书</h2>
        {% for certificates in certificates %}
        <li class="li">{{ certificates}}</li>
        {% endfor %}
        {% endif %}
        {% if SC %}
        <h2>技能证书</h2>
        {% for SC in SC %}
        <li class="li">{{ SC}}</li>
        {% endfor %}
        {% endif %}


        <h2>工作经历</h2>
        {% if work_experience %}
        {% for experience in work_experience %}
        <h3> {{ experience.company }} | {{ experience.position }} ({{ experience.dates }})</h3>
        {% for detail in experience.details %}
        <li>{{ detail }}</li>
        {% endfor %}
        {% endfor %}
        {% endif %}

        {% if Project_experience %}
        <h2>项目经历</h2>
        {% for experience in Project_experience %}
        <h3>{{experience.project_name}} | {{experience.team}}</h3>
        {% for achievement in experience.achievement %}
        <li>{{ achievement }}</li>
        {% endfor %}
        {% endfor %}
        {% endif %}

        <h2>自我评价</h2>
        <p class="p">{{self_evaluation}}</p>
    </div>
  </div>
</body>

</html>